In [80]:
from sqlalchemy import create_engine

postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'dvdrentals'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(postgres_user, 
postgres_pw,postgres_host, postgres_port, postgres_db))

In [81]:
# 1) Number of movies

In [82]:
sql = '''
select 
  count(*)
from 
  film
where
  rating = 'G' '''

row_count = engine.execute(sql)
engine.dispose()
ans = row_count.first()
print('There are {} movies that are rated G in the table'.format(ans['count']))

There are 178 movies that are rated G in the table

In [83]:
sql = '''
select
  count(*)
from
  film
where
  rating = 'PG' '''

row_count = engine.execute(sql)
engine.dispose()
ans = row_count.first()
print('There are {} movies that are rated PG in the table'.format(ans['count']))

There are 194 movies that are rated PG in the table

In [84]:
sql = '''
select
  count(*)
from
  film
where
  rating = 'PG-13' '''

row_count = engine.execute(sql)
engine.dispose()
ans = row_count.first()
print('There are {} movies that are rated PG-13 in the table'.format(ans['count']))

There are 223 movies that are rated PG-13 in the table

In [85]:
sql = '''
select
  count(*)
from
  film
where
  rating = 'R' '''

row_count = engine.execute(sql)
engine.dispose()
ans = row_count.first()
print('There are {} movies that are rated R in the table'.format(ans['count']))

There are 195 movies that are rated R in the table

In [86]:
sql = '''
select
  count(*)
from
  film
where
  rating = 'NC-17' '''

row_count = engine.execute(sql)
engine.dispose()
ans = row_count.first()
print('There are {} movies that are rated NC-17 in the table'.format(ans['count']))

There are 210 movies that are rated NC-17 in the table

In [87]:
# 2) Average rental duration for each rating

In [88]:
sql = '''
select
  rental_duration
from
  film
where rating = 'G' '''

rental_duration = engine.execute(sql)
engine.dispose()

rows = rental_duration.fetchall()

rental_duration = [x['rental_duration'] for x in rows]

def mean(numbers):
  total_sum = 0;
  for n in numbers:
    total_sum += n
  avg = total_sum / 178
  return avg

print('The average rental duration is {} for movies that are rated G'.format(mean(rental_duration)))

The average rental duration is 4.837078651685394 for movies that are rated G

In [89]:
sql = '''
select
  rental_duration
from
  film
where rating = 'PG' '''

rental_duration = engine.execute(sql)
engine.dispose()

rows = rental_duration.fetchall()

rental_duration = [x['rental_duration'] for x in rows]

def mean(numbers):
  total_sum = 0;
  for n in numbers:
    total_sum += n
  avg = total_sum / 194
  return avg

print('The average rental duration is {} for movies that are rated PG'.format(mean(rental_duration)))

The average rental duration is 5.082474226804123 for movies that are rated PG

In [90]:
sql = '''
select
  rental_duration
from
  film
where rating = 'PG-13' '''

rental_duration = engine.execute(sql)
engine.dispose()

rows = rental_duration.fetchall()

rental_duration = [x['rental_duration'] for x in rows]

def mean(numbers):
  total_sum = 0;
  for n in numbers:
    total_sum += n
  avg = total_sum / 223
  return avg

print('The average rental duration is {} for movies that are rated PG-13'.format(mean(rental_duration)))

The average rental duration is 5.053811659192825 for movies that are rated PG-13

In [91]:
sql = '''
select
  rental_duration
from
  film
where rating = 'R' '''

rental_duration = engine.execute(sql)
engine.dispose()

rows = rental_duration.fetchall()

rental_duration = [x['rental_duration'] for x in rows]

def mean(numbers):
  total_sum = 0;
  for n in numbers:
    total_sum += n
  avg = total_sum / 195
  return avg

print('The average rental duration is {} for movies that are rated R'.format(mean(rental_duration)))

The average rental duration is 4.774358974358974 for movies that are rated R

In [92]:
sql = '''
select
  rental_duration
from
  film
where rating = 'NC-17' '''

rental_duration = engine.execute(sql)
engine.dispose()

rows = rental_duration.fetchall()

rental_duration = [x['rental_duration'] for x in rows]

def mean(numbers):
  total_sum = 0;
  for n in numbers:
    total_sum += n
  avg = total_sum / 210
  return avg

print('The average rental duration is {} for movies that are rated NC-17'.format(mean(rental_duration)))

The average rental duration is 5.142857142857143 for movies that are rated NC-17

In [93]:
# 3) Mean movie length

In [94]:
sql = '''
select
  length
from
  film'''

length = engine.execute(sql)
engine.dispose()

rows = length.fetchall()

length = [x['length'] for x in rows]

def mean(numbers):
  total_sum = 0;
  for n in numbers:
    total_sum += n
  avg = total_sum / 1000
  return avg

print('The mean movie length is {}'.format(mean(length)))

The mean movie length is 115.272

In [95]:
# 4) Median movie length

In [96]:
from sqlalchemy import create_engine

sql = '''
select
  length
from
  film'''

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(postgres_user, 
postgres_pw, postgres_host, postgres_port, postgres_db))

length = engine.execute(sql)
engine.dispose()

rows = length.fetchall()

length = [x['length'] for x in rows]

import math

def median(numbers):
    numbers.sort()
    count = len(numbers)
    isEven = count % 2 == 0
    
    if (isEven):
        mid = math.floor( count / 2)
        a = numbers[mid]
        b = numbers[mid + 1]
        ans = (a + b) / 2
    else:
        ans = numbers[math.floor( count / 2)]
        
    return ans

print('The median movie length is {}'.format(median(length)))

The median movie length is 114.0

In [97]:
# 5) Standard deviation of the movie lengths

In [98]:
sql = '''
select
  length
from
  film'''

def standard_deviation(numbers):
    X_bar = mean(numbers)
    N = len(numbers)
    total_sum = 0
    for X in numbers:
        diff = X - X_bar
        squared = math.pow(diff, 2)
        total_sum += squared
    sigma = math.sqrt(total_sum / (N - 1))
    return sigma
    
print('The standard deviation of the movie lengths is {}'.format(standard_deviation(length)))

The standard deviation of the movie lengths is 40.42633181855988